!!!
%html
  %head
    %title Sinatra Website
  %body
    #wrapper
      -if session[:warning]
        %span #{session[:warning]}
        -session[:warning] = ""
      -if session[:success]
        %span #{session[:success]}
        -session[:success] = ""
      #header
        %h1 test sinatra

      #content
        =yield

      #footer
        %p
          This is the footer.