!!!
%html
  %head
    %title Sinatra Website
  %body
    #wrapper
      -if flash[:notice]
        #flash-notice
          %span #{flash[:notice]}
      -if flash[:warning]
        #flash-warning
          %span #{flash[:warning]}
      -if flash[:sucess]
        #flash-sucess
          %span #{flash[:sucess]}
      #header
        %h1 test sinatra

      #content
        =yield

      #footer
        %p
          This is the footer.