!!!
%html
  %head
    %title Sinatra Website
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    -if login?
      %script(src="geoloc.js")
  %body
    #wrapper
      -if session[:warning]
        %span #{session[:warning]}
        -session[:warning] = ""
      -if session[:success]
        %span #{session[:success]}
        -session[:success] = ""
      #header
        %h1 Hello there

      #content
        =yield

      #footer
        %p
          This is the footer.